<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h4>Simple datepicker</h4>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" 
              a2e-datetimepicker
              [(ngModel)]="dateModel"
              [options]="options"
              />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <br>
      <strong>Input date: </strong> {{dateModel}}
    </div>
  </div>
</div>