<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h4>Linked datepickers</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" 
                  a2e-datetimepicker
                  [(ngModel)]="startDate"
                  [options]="startOptions"
                  (ngModelChange)="update()"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>   
        <br><strong>Input date:</strong>   {{startDate | date:'dd/MM/yyyy'}}     
        <br><strong>Option:</strong>   {{startOptions | json}}     
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" 
                  a2e-datetimepicker
                  [(ngModel)]="endDate"
                  [options]="endOptions"
                  (ngModelChange)="update()"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>           
        <br><strong>Input date:</strong>   {{endDate | date:'dd/MM/yyyy'}}     
        <br><strong>Option:</strong>   {{endOptions | json}}     
      </div>
    </div>

  </div>
</div>