<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h4>Reactive forms: with validators</h4>
    <form [formGroup]="form">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group" [ngClass]="{'has-error': form.get('start').errors}">
            <input class="form-control" 
                  a2e-datetimepicker
                  formControlName="start"
                  [options]="startOptions"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>   
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group" [ngClass]="{'has-error': form.get('end').errors}">
            <input class="form-control" 
                  a2e-datetimepicker
                  formControlName="end"
                  [options]="endOptions"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>           
      </div>
      <br>
      <strong>Form is valid:</strong> {{form.valid}}
      <br>
      <strong>Form values:</strong> {{form.value | json}}
      <br>
      
      <button class="btn btn-default" (click)="startReset()">Clear start date</button>
      <button class="btn btn-default" (click)="endReset()">Clear end date</button>
    </form>
  </div>
</div>